---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline"><span data-lang-block="de">{{ page.title | escape }}</span><span data-lang-block="en">{{ page.title_en | default: page.title | escape }}</span></h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"><span data-lang-block="de">{{ page.date | date: "%d.%m.%Y" }}</span><span data-lang-block="en">{{ page.date | date: "%b %-d, %Y" }}</span></time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </p>
  </header>

  {%- assign translation = site.translations | where: "slug", page.slug | first -%}

  <div class="post-content e-content" itemprop="articleBody" data-lang-block="de">
    {{ content }}
  </div>

  {%- if translation -%}
  <div class="post-content e-content" lang="en" data-lang-block="en">
    {{ translation.content | markdownify }}
  </div>
  {%- else -%}
  <div class="post-content e-content" lang="en" data-lang-block="en">
    <p class="translation-missing">This post has not been translated yet. The German version is shown when you switch back.</p>
    {{ content }}
  </div>
  {%- endif -%}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
